.views-block
  width: 80%
  margin: 0 auto

.shirt__image
  width: 100%

.flip
  position: absolute
  top: 0
  right: 0
  background-color: white
  padding: 1rem

.dropup__wrapper
  box-sizing: border-box
  width: 4rem
  padding: .5rem

.dropup__button
  display: inline

.square__wrapper
  margin: 1.5rem
  display: inline-block

.color__square
  display: inline-block
  height: 3rem
  width: 3rem
  background-color: blue
  margin: .3rem

.icon
  font-size: 3rem
  padding: .5rem
